<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Básica</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="contenedor">
        <header>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <section class="main">
            <div class="imagen">
                <img src="img/monte-fuji.jpeg" alt="">
            </div>
            <section class="post">
                <article>
                    <h2>Titulo del Articulo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quisquam nihil quod quidem, facilis nesciunt dicta placeat ipsum vitae mollitia nam obcaecati iure culpa soluta doloremque. Quos iste autem possimus?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur eos enim quis quia esse, deserunt provident expedita. Tempora eaque quasi pariatur necessitatibus asperiores ea assumenda dolorum perspiciatis? Unde, assumenda incidunt?</p>
                </article>
            </section>
        </section>
        <aside>
            <div class="widget">
                <h3 class="titulo">Articulos Destacados</h3>
                <ul>
                    <li><a href="#">Enlace</a></li>
                    <li><a href="#">Enlace</a></li>
                    <li><a href="#">Enlace</a></li>
                    <li><a href="#">Enlace</a></li>
                    <li><a href="#">Enlace</a></li>
                </ul>
            </div>
            
            <div class="widget">
                <h3 class="titulo">Información</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium odio repudiandae ea quod voluptate, voluptas ratione cumque aspernatur commodi tempore ducimus recusandae voluptatum, quis consequatur, aut laudantium vitae. Eaque, obcaecati.</p>
            </div>
        </aside>
        <footer>
            <p>Francisco Emmanuel 2022 - Todos los Derechos Reservados</p>
        </footer>
    </div>
    </body>
    </html>